#header {
    background-image: url(./images/Background_header.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
}

.nav-item {
    font-size: 1.7vw;
}

#imageLogo {
    margin-right: 3%;
}

#botaoInscricao {
    font-size: 1.7vw;
    background-color: #4bd1a0;
    color: white;
    border-color: #4bd1a0;
}

#botaoInscricao:hover {
    transition: 0.5s;
    background-color: white;
    color: #4bd1a0;
}

#beneficios, #beneficios > * {
    background-color: #4bd1a0;
    font-size: 1.8vw;
}

#lista-beneficios li {
    background-color: #4bd1a0;
    font-size: 1.5vw;
    border: 0;
}

#lista-beneficios li:hover {
    border-bottom: 0;
}

.img-carrossel {
    height: 40rem;
}

#suplemento {
    background-image: url(./images/suplementacao.jpg);   
}

#dieta {
    background-image: url(./images/dieta.jpg);
}

.alimentacao {
    background-color: black;
    height: 30rem;
    background-size: 100%;
}

#dietas p {
    font-size: 2.5vw;
    position: absolute;
    z-index: 1;
}

.alimento {
    position: absolute;
    top: 70%;
    left: 22.5%;
    color: white;
    background-color: #4bd1a0;
    border-color: #4bd1a0;
    font-size: 1.5vw;
}

.alimento:hover {
    transition: 0.5s;
    background-color: transparent;
    border-color: #4bd1a0;
}

#fundoCadastro {
    background-color: #4bd1a0;
}

.forms {
    position: relative;
    top: 15vh;
    height: 70vh;
    width: 30vw;
    border-radius: 1.5vw;
}

.profiles {
    position: relative;
    top: 5vh;
    height: 90vh;
    border-radius: 1.5vw;
}
