body {
    background-color: whitesmoke;
    display: grid;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
}

.header {
    background-image: url("images/header.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 1.2rem;
    height: 44rem;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar img {
    margin-top: 20px;
    margin-left: 40px;
    width: 100px;
}

.navbar ul {
    padding-top: 30px;
}

.navbar li{
    display: inline;
    
}

li a {
    padding-left: 20px;
    color: white;
    text-decoration: none;
}

.inscricao{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    margin-left: 33%;
    
}

.active2 {
    display: flex;
    padding: 20px;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    border: 3px solid #4BD1A0;
}

.active2:hover {
    background-color: #4BD1A0;
    border: 3px solid #4BD1A0;
}

.contats {
    display: flex;
    align-items: center;
    margin-top: 500px;
    color: ivory;
    font-size: 1.0rem;
    margin-left: 14px;
}

.contats li {
    display: inline;
    padding-left: 20px;
    padding-bottom: 1%;
}

.benefits {
    display: flex;
    background-color: #4BD1A0;
    max-height: 85%;

}

.benefits-texts {
    width: 40%;
    margin-left: 5%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.benefits-texts ul {
    width: 50%;
    height: 50%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

.benefits-texts li {
    display: flex;
}



.treinos span {
    margin-top: -50px;
    display: flex;
    justify-content: center;
    font-size: 5rem;
    font-family: 'Anton';
    color: #333333;
    letter-spacing: 4px;
    margin-bottom: 2%;
}

.slideshow-container {
    position: relative;
    margin: auto;
} 

.slideshow-container img {
    width: 88vw;
    height: 600px;
    border-radius: 20px;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 45%;
    width: auto;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: 0.4;}
    to {opacity: 1;}
}

@keyframes fade {
    from {opacity: 0.4}
    to {opacity: 1;}
}




.alimentacao {
    display: flex;
    margin-top: 8%;
    justify-content: center;
    width: 100%;
}

.txt-ali {
    font-family: 'Anton';
    position: absolute;
    color: whitesmoke;
    font-size: 1.9rem;
        
}

.dieta {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.dieta a {
    margin-top: 10%;
}

.suplementacao {
    width: 54%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.suplementacao a{
    margin-top: 10%;
}

.active3 {
    padding: 16px 32px;
    text-align: center;
    padding: 20px;
    /* padding-left: 50px;
    padding-right: 50px; */
    display: flex;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    background-color: #4BD1A0; 
    color: white; 
    border: 3px solid #4BD1A0;
    border-radius: 30px;
    font-family: 'Anton';
    font-size: 1.8rem;
    width: 25%;
    justify-content: center;


}

.active3:hover {
    background-color: transparent;
    color: white
}

.footer{
    background-color: #333333;
    margin-top: 8%;
    display: flex
}

.inic {
    color: white;
    display: flex;
    font-family: 'Anton';
    flex-direction: column;

}

.sobr {
    color: white;
    display: flex;
    font-family: 'Anton';
    flex-direction: column;

}

.supo {
    color: white;
    display: flex;
    font-family: 'Anton';
    flex-direction: column;

}

.siga {
    color: white;
    display: flex;
    font-family: 'Anton';
    flex-direction: column;

}





