body {
    background-color: whitesmoke;
    display: grid;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: sans-serif;
    grid-template-rows: 50% 45% 30% 22% 5% auto;
}

a {
    color: white;
    text-decoration: none;
}

.header {
    background-image: url("images/header.jpg");
    background-size: 100%;
    height:200%;
    background-repeat: no-repeat;
    font-size: 19px;
}

.gm-in {
    display: flex;
    align-items: center;
    margin-top: 500px;
    color: ivory;
    font-size: 14px;
    margin-left: 14px;


}

.gm-in li {
    display: inline;
    padding-left: 20px;
    padding-bottom: 1%;
}

.ben-img {
    display: flex;
    background-color: #4BD1A0;

}

.txt-img {
    width: 50%;
}

.navbar img {
    margin-top: 20px;
    margin-left: 40px;
}

.navbar {
    display: flex;
    align-items: center;

}

.navbar ul {
    padding-top: 30px;
  
}

.list-2{
    float: right;
    width:  10%;
    display: flex;
    justify-content: flex-end;
    margin-left: 33%;
}

.navbar li{
    display: inline;
}

li a {
    padding-left: 20px;
    text-align: center;
}

.active {
    display: flex;
    padding: 20px;
    border-radius: 40px;
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    transition-duration: 0.4s;
    border: 3px solid #4BD1A0;
}

.active:hover {
    background-color: #4BD1A0;
    border: 3px solid #4BD1A0;
}

.txt-ben {
    width: 40%;
    margin-left: 5%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Anton', sans-serif;
    text-align: center;
}

.txt-ben ul {
    width: 60%;
    height: 50%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.txt-ben li  {
    display: flex;
    margin-right: 10%; 
}


/* Teste de layout do texto dos benefícios */

/* 
.txt-ben li {
    text-align: justify;
} */

